.player-card {
    height: 8rem;
    width: 7.68rem;
    background: $player-card-color;
    margin: .6rem .8rem;
    border-radius: .2rem;
    position: relative;
    cursor: grab;
}

.player-card-in-search-modal {
    height: 8rem;
    width: 7.68rem;
    background: $player-card-color;
    margin: .3rem .4rem;
    border-radius: .2rem;
    position: relative;
    cursor: grab;
}

.player-card-description {
    position: relative;
    height: 6.4rem;
}

.player-card-info {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(0, 1fr)); // Not resize rows
    height: 100%;
    width: 3rem;
}

.main-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-position-description {
    //-webkit-text-stroke: 0.5px $player-card-info-inside-border;
    color: $player-card-info-inside-color;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

/* .league {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.league-photo {
    width: 100%;
    height: 100%;
    margin: 0.1rem 0 0 0.1rem;
} */

.nation {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.nation-photo {
    width: 1.7rem;
    padding-bottom: .2rem;
}

.club {
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-photo {
    width: 1.7rem;
    height: 1.7rem;
}


/* .born-year-description, .age-description, .valored-description {
    -webkit-text-stroke: 0.5px $player-card-info-inside-border;
    color: $player-card-info-inside-color;
    font-size: 0.7rem;
    text-align: center;
}

.born-year {
    position: absolute;
    top: 4rem;
    left: 5.6rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.age {
    position: absolute;
    top: 3.2rem;
    left: 6.2rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valored {
    position: absolute;
    top: 1.8rem;
    left: 6rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.player-photo-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.player-photo {
    width: 5.34rem;
    height: 6.4rem;
    object-fit: cover;
}

/* .player-on-loan {
    position: absolute;
    top: 0.05rem;
    left: 6.9rem;
    width: .6rem;
    height: .6rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.player-on-loan-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.player-card-name {
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-card-name-link {
    list-style: none;
    text-decoration: none;
    color: $player-card-name-color;
}

.player-card-name-link:hover {
    color: $player-card-name-hover-color;
    text-decoration-line: underline;
    transition-duration: 1s;
}

.name, .add-name {
    width: fit-content;
    height: fit-content;
    font-size: .7rem;
}

.lastname, .add-lastname {
    font-weight: 700;
}

.player-card:hover {
    .player-card-options {
        display: flex;
    }
    .none {
        display: none;
    }
}

.player-card-options {
    display: none;
    height: 1.5rem;
    width: 1.5rem;
    background: red;
    position: absolute;
    top: 0.05rem;
    left: 7.4rem;
    justify-content: center;
    align-content: center;
    z-index: var(--z-tooltip);
    cursor: pointer;
    @include mq(1024) {
        display: flex;
        height: 1rem;
        width: 1rem;
    }
}

// SORTABLE

.chosen {
    transform: scale(1.02) rotate(-1deg);
    background: #e7e5e5;
    cursor: move;
}

.ghost {
    opacity: 0;
}

.drag {
    opacity: 1;
}