.section-title {
    width: 100%;
    height: 2rem;
    background: $section-title-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mq(900) {
        display: none;
    }
    margin: 0 0 0 3rem;
    width: 20rem;
}

.players-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 3rem 0 0;
    width: 20rem;
    @include mq(500) {
        margin: 0 1rem 0 0;
    }   
}

.add-buttons-to-mobile {
    display: none;
    @include mq(900) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    margin: 0 0 0 3rem;
    width: 20rem;
    @include mq(500) {
        margin: 0 0 0 1rem;
    }
}

.add-section-to-mobile, .add-player-to-mobile, .delete-section-to-mobile {
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2rem;
    background: $button-color;
    &:hover {
        background: $button-hover-color;
    }
}

.add-section-icon-container, .add-player-icon-container, .delete-section-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.6rem;
    width: 1.6rem;
}

.add-section-icon, .add-player-icon, .delete-section-icon {
    height: 1.3rem;
    width: 1.3rem;
}

.add-section-to-mobile, .add-player-to-mobile {
    margin: 0 .5rem 0 0;
}

.add-section, .add-player, .delete-section {
    height: 1.6rem;
    width: 6rem;
    background: $button-color;
    font-weight: 700;
    font-family: $pridi-family;
    border-radius: .5rem;
    border: .0rem solid black;
    font-size: .7rem;
    &:hover {
        border: .1rem solid $button-border-color;
        background: $button-hover-color;
        cursor: pointer;
    }
}

.add-section, .add-player {
    margin: 0 .5rem 0 0;
}

// on-loan:

.on-loan {
    background: $on-loan-color;
    height: 1.4rem;
    width: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .2rem;
    @include mq(500) {
        width: 4.2rem;
    }
}

.on-loan-p {
    font-family: $pridi-family;
    font-size: .7rem;
}

.on-loan-icon-container {
    height: 1.2rem;
}

.on-loan-icon {
    object-fit: cover;
    height: .9rem;
}

.section-title-positions {
    height: fit-content;
    width: fit-content;
    @include mq(400) {
        font-size: 1rem;
    }
}